numpy>=1.22.0
tqdm>=4.64.0
datasets>=2.10.0
evaluate>=0.4.0
sentence-transformers>=2.2.2
qdrant-client>=1.1.1
transformers>=4.30.0
python-dotenv>=1.0.0
huggingface-hub>=0.16.0
torch>=2.0.0
requests>=2.28.0 